<div class="container">
  <h1>Liste des activités</h1>
  <div class="main">
    <a routerLink="../ajoutActivite"><button type="button" class="btn-1">Ajouter une activité</button></a>
    <div id="chargement" *ngIf="chargement">
      <b>Chargement en cours...</b>
    </div>
    <table class="table table-hover table-responsive-lg">
      <thead class="thead-1">
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Lieu</th>
      <th scope="col">Thème</th>
      <th scope="col">Motif</th>
      </thead>
      <tbody id="contenu">
      <tr class="tr-1" *ngFor="let uneActivite of lesActivites">
        <td>{{uneActivite.id_activite_compl}}</td>
        <td>{{uneActivite.date_activite}}</td>
        <td>{{uneActivite.lieu_activite}}</td>
        <td>{{uneActivite.theme_activite}}</td>
        <td>{{uneActivite.motif_activite}}</td>
      </tr>
      <tr *ngIf="lesActivites.length == 0">
        <td colspan="7" style="text-align: center">Il n'y a pas d'activités complémentaires</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
