body {
  background-image: url("assets/technologie-médecine.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: rgba(217, 217, 217, 0.98);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}



.btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

b{
  color: rgba(40, 40, 40, 0.81);
}

h2{
  color: rgba(40, 40, 40, 0.81);
}

h3{
  color: rgba(40, 40, 40, 0.81);
}

.partieHistoire{
  text-decoration: none;
  font-size: 40px;
  color: rgba(40, 40, 40, 0.81);
}

.partieHistoire:hover{
  background-color: rgba(106, 131, 136, 0.8);
  text-decoration: none;
  font-size: 40px;
  color: rgba(40, 40, 40, 0.81);
}

.paragrapheHistoire{
  background-color: rgba(106, 131, 136, 0.8);
}


.thead-1{
  margin-top: -20px;
  text-align: center;
  justify-content: center;
  background-color: rgba(40, 40, 40, 0.8);
  color: white;
}


.tr-1{
  text-align: center;
  justify-content: center;
  font-size: 15px;
}

.tableText{
  white-space: nowrap;
}

.navbar{
  background: rgba(40, 40, 40, 0.8);
  color: white;
}

.nav-link{
  margin-top: 5px;
  color: lightgrey;
  text-decoration: none;
}

.navbar-text{
  margin-top: 5px;
  color: lightgrey;
  text-decoration: none;
}

.navbar-text:hover{
  text-decoration: none;
  color: white;
}

.nav-link:hover{
  text-decoration: none;
  color: white;
}

.navbar-brand{
  font-size: 25px;
  color: lightgrey;
  text-decoration: none;
}

.navbar-brand:hover{
  color: white;
  text-decoration: none;
}

.dropdown-menu{
  color: #464646;
  background: #3f3f3f;
}

.dropdown-item{
  color: white;
}

.dropdown-item:hover{
  background: #464646;
  color: white;
}

.btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
  display: inline-block;
  position: relative;
  padding: 8px 10px;
  top: 0;
  font-size: 15px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  background: rgb(40, 200, 64);
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-2 {
  background: rgb(78, 114, 173);
}

.btn-3 {
  background: rgb(173, 28, 38);
}

.btn-4 {
  background: rgb(102, 157, 173);
}

.btn-5 {
  background: rgb(169, 131, 68);
}


.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-4:hover, .btn-5:hover{
  top: -5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.btn-1:active, .btn-2:active, .btn-3:active, .btn-4:active, .btn-5:active{
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgb(224, 222, 223);
}

.desc{
  font-size: 15px;
  text-align: left;
  width: 300px;
}

.wrapper {
  display: block;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #bbbbbb;
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 380px;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login input:focus {
  outline: none;
  color: #585858;
  border-color: #585858;
  border-left-width: 35px;
}

.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: dimgray;
  color: white;
  font-size: 1.3em;
  display: block;
  position: relative;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  border-bottom-width: 7px;
}

.recherche input:focus{
  outline: none;
  color: #585858;
  border-color: #585858;
  border-left-width: 35px;
}

p, b {
  margin-left: 30px;
  font-size: 25px;
}

.imgTab {
  height: auto;
  max-width: 300px;
}

.imgDescription {
  height: auto;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.81);
  color: white;
  text-align: center;
}

.accueil p{
  font-size: 15px;
  margin-left: 10px;
}

.accueil b{
  font-size: 20px;
}

.accueil h2{
  font-size: 40px;
}

.accueil a{
  text-decoration-line: underline;
  color: rgba(40, 40, 40, 0.81);
}

.accueil a:hover{
  text-decoration: none;
  color: rgba(105, 105, 105, 0.81);
}

.description-1 img{
  margin-left: 100px;
}

.copyright a{
  color: dodgerblue;
  text-decoration: none;
}

.message-generation {
  width: 30px;
  height: 30px;
}

.description {
  height: 200px;
  width: 350px;
}

img .carousel {
  max-width: 200px;
  max-height: 200px;
}


.listeMail {
  background-color: #ababab;
  font-size: 15px;
  border-radius: 2px 2px 5px 5px;
  width: auto;
  margin: 10px;
}

.listeMail p {
  background-color: #ababab;
  font-size: 10px;
  border-radius: 2px 2px 5px 5px;
  width: auto;
  margin: 10px;
}

.imageAccueil {
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: rgba(156, 182, 187, 0.8);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: auto;
  max-width: 700px;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 450px;
    height: 450px;
  }
}

.carousel-rendu {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 70%;
  height: auto;
}

.cptrendu {
  padding-bottom: 30px;
}

.lien{
  text-decoration-line: underline;
  color: rgb(96, 87, 88);
}
.lien:hover{
  text-decoration: none;
  color: rgba(105, 105, 105, 0.81);
}

