<div class="container">
  <h1>Bienvenue chez Galaxy Swiss Bourdin</h1>
    <p class="textAccueil">Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le géant américain Galaxy (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et le conglomérat européen Swiss Bourdin (travaillant sur des médicaments plus conventionnels), lui même déjà union de trois petits laboratoires. En 2009, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur industriel. L’entité Galaxy Swiss Bourdin Europe a établi son siège administratif dans la banlieue parisienne .

      Le siège social de la multinationale est situé à Bagneux, Hauts-de-seine, en France</p>
  <p class="textAccueil">
    Plusieurs fonctions sont disponibles sur cette applications.<br />
    Vous pouvez lister les praticiens <a routerLink="../listerPraticien">ici</a><br />
    Vous pouvez lister les activites <a routerLink="../listerToutesActivites">ici</a><br />
  </p>
</div>
